/* Colours Used
#FF5363
#394B6C
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    scroll-behavior: smooth;
}
header{
    background-color: #F7F9FE;
    background-image: url(/assests/img/shape-a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 87px;
    position: relative;
}
@media (min-width: 992px) {
    section.spread-sec div div.head-title{
    width: 65%;
    margin: auto;
    }
    section.symptoms-sec div div.head-title{
    width: 75%;
    margin: auto;
    }
    section.prevention-sec div div.head-title{
    width: 75%;
    margin: auto;
    }
    div.prevention-btns{
        width: 65%;
    }
}
.to-top-button{
    position: fixed;
    bottom: 7%;
    right: 3%;
    width: auto;
    height: auto;
    z-index: 99;
    display: none;
    transition: 0.6s;
}
nav{
    transition: 0.6s;
}
.nav-back{
    background-color: white;
    box-shadow: 0px 2px  rgb(80 101 142 / 8%);
}
div.head-title h5{
    color: #2a81ea;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
div.head-title h2{
    color: #50658e;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 25px;
}

div.head-title p{
    color: #3d4b69;
    margin-bottom: 60px;
    line-height: 1.5em;
}
nav.navbar{
    height: 70px;
}
nav.navbar div h2 i{
    color: #FF5363;
}

nav.navbar div div h2{
    font-size: 28px;
    color: rgb(57, 75, 108);
    font-weight: 900;
}
ul.links li a{
        text-decoration: none;
        color: #50658e !important;
        font-weight: bold;
        font-size: 14px;
        margin-right: 10px;
}
ul.links li a:hover{
    color: #2a81ea !important
}

ul.links li a.btn{
    font-size: 14px !important;
    color: white !important;
    padding: 9px 20px !important;
}
div.intro-head-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.intro-head-text h1{
    font-size: 85px;
    font-weight: 900;
    color: #50658e;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
div.intro-head-text span h3{
    font-size: 28px;
    color: #FF5363;
    font-family: 'Oswald', sans-serif;
    margin-top: 14px;
}
div.intro-head-text span h2{
    font-size: 40px;
    color: #50658e;
    font-family: 'Oswald', sans-serif;
}
p.intro-para-text{
    color: #3d4b69;
    line-height: 1.5em;
    font-size: 15px;
    margin: 30px 0 50px;
}
.intro-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.intro-btn a{
    color: #2a81ea;
    font-weight: bold;
    text-decoration: none;
}
.intro-stat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.intro-num p:first-of-type{
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #7d92bb;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
div.intro-num p:last-of-type{
    letter-spacing: 0.04em;
    color: #465675;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
    font-style: normal;
}
.intro-update{
    font-style: italic;
    font-size: 12px;
    color: #7d92bb;
    margin-top: 30px;
}
section.about-sec{
    padding: 100px 0;
}
section div div.about-texts div.about-left h5{
    color: #2a81ea;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
section div div.about-texts div.about-left h2{
    color: #50658e;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
}
section div div.about-texts div.about-left p{
    color: #3d4b69;
    margin-bottom: 20px;
    line-height: 1.5em;
    text-align: left;
}
section div div.about-texts div.about-left p:first-of-type{
    font-size: 19px;
    line-height: 1.7em;
}
section div div.about-texts div.about-right ul{
    list-style: none;
    border: 1px solid #e7e8ff;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
    border-radius: 5px;
    padding: 0px;
}
section div div.about-texts div.about-right ul li{
    border-bottom: 1px solid #e7e8ff;
    padding: 20px 30px;
    font-weight: bold;
    color: #465675;
    font-size: 20px;
}
section div div.about-texts div.about-right ul a{
    text-decoration: none;
    color: #2a81ea;
    border-bottom: 1px solid #e7e8ff;
}
section div div.about-texts div.about-right ul a li{
    display: flex;
    justify-content: space-between;
    color: #2a81ea;
    font-weight: normal;
    font-size: 16px;
}
section.spread-sec{
    padding: 100px 0;
    background-color: #F7F9FE;
}


div.spread-cards div.spread-card-outlay{
    width: 23rem;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 40%);
    border: none;
}

div.spread-cards div.spread-card-outlay img{
    border-bottom: 6px solid #9cc2f7;
}
div.spread-cards div.spread-card-outlay div.card-body h3{
    color: #2a81ea;
    font-size: 18px;
    margin-bottom: 7px;
}
div.spread-cards div.spread-card-outlay div.card-body p{
    color: #3d4b69;
    line-height: 1.5em;
}
div.spread-cards div.spread-card-outlay div.card-body{
    padding: 25px;
}
div.spread-btn{
    margin: 100px auto 0;
}
section.symptoms-sec{
    padding: 100px 0;
}

section.symptoms-sec div div.symptoms-cards{
    margin-top: 100px;
}
section.symptoms-sec div div.symptoms-cards div div.symptoms-card{
    width: 23rem;
    border: none;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 45%);
}
section.symptoms-sec div div.symptoms-cards div div.symptoms-card div.img-box{
    width: 80px;
    position: absolute;
    top: -30%;
    right: 9%;
}
section.symptoms-sec div div.symptoms-cards div div.symptoms-card div.card-body h3.card-title{
    color: #2a81ea;
    margin-bottom: 10px;
    font-size: 16px;
}
section.symptoms-sec div div.symptoms-cards div div.symptoms-card div.card-body  p.card-text{
    color: #3d4b69;
    line-height: 1.5em;
}
section.symptoms-sec div div.symptoms-cards div div.symptoms-card div.card-body  p.card-text span{
    font-weight: bold;
}
section.symptoms-sec div div.Symptoms-Bottem{
    margin-top: 135px;
}
section.symptoms-sec div div.Symptoms-Bottem div.bottem-text i{
    color: #2a81ea;
    font-size: 45px;
    margin-right: 10px;
}
section.symptoms-sec div div.Symptoms-Bottem div.bottem-text p{
    color: #3d4b69;
    line-height: 1.5em;
    font-style: italic;
    text-align: left;
}
section.prevention-sec{
    padding: 100px 0;
    background-color: #f7f9fe;
}
div.prevention-boxs div div.prevention-img{
    width: 120px;
}
div.prevention-boxs div div.prevention-text h3{
    color: #3d4b69;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
div.prevention-btns{
    margin: 100px auto 0;
}
section.steps-sec div div.steps-text-img{
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
    background-color: #fff;
    
}
div.steps-text h2{
    margin-top: 40px;
    margin-left: 40px;
    color: #465675;
    font-size: 30px;
}
div.steps-text ul{
    list-style: none;
    margin: 40px;
}
div.steps-text li{
    margin-bottom: 20px;
    display: flex;
    color: #3d4b69;
}
div.steps-text li div.text span{
    font-weight: bold;
}
div.steps-text li div.icon{
    margin-right: 10px;
    color: #3dca93;
}
div.steps-img {
    padding: 30px;
}
section.hands-sec{
    padding: 100px 0;
    background-color: #f7f9fe;
}
div.hands-imgs{
    margin-top: 50px;
}
.hand-text{
    text-align: center;
    margin-top: 10px;
    color: #3d4b69;
    font-weight: bold;
    font-size: 14px;
}
div.hands-img-box img{
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 16%);
    border-radius: 50%;
}
section.carefull-sec{
    padding: 100px 0;
    background-image: url(/assests/img/shape-a.png);
    background-color: #2766bb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
div.carefull-text-right h5{
    color: #73e3ff;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-weight: bold;
}
div.carefull-text-right h2{
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 25px;
}
div.carefull-text-right p{
    line-height: 1.5em;
    color: #ced4ff;
    margin-bottom: 20px;
}
div.carefull-text-right p span{
    font-weight: bold;
    color: #fff;
}
div.carefull-text-left {
    background-color: #1b47a1;
    padding: 40px;
}
div.carefull-text-left h6{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
div.carefull-text-left p{
    line-height: 1.5em;
    margin-bottom: 10px;
}
.icon-care{
    margin-right: 10px;
}
section.protect-sec{
    padding: 100px 0;
    background-color: #f7f9fe;
}
div.protect-box-left{
    margin-bottom: 20px;
    position: relative;
}
div.protect-box-left div.box-text{
    margin: 0 20px 0 0;
    color: #2a81ea;
    font-weight: bold;
    font-size: 14px;
}
div.protect-box-left div.box-icon{
    color: #f86168;
    position: absolute;
    font-size: 21px;
    top: -1%;
    left: 72%;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
}
div.protect-box-left div.box-img{
    width: 80px;
}
div.protect-box-left div.box-img img{
    border: 2px solid #2a81ea;
    background-color: #fff;
}
div.protect-box-right{
    margin-bottom: 20px;
    position: relative;
}
div.protect-box-right div.box-text{
    margin: 0 0 0 20px;
    color: #2a81ea;
    font-weight: bold;
    font-size: 14px;
}
div.protect-box-right div.box-icon{
    color: #3dca93;
    position: absolute;
    font-size: 21px;
    top: -1%;
    right: 72%;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
}
div.protect-box-right div.box-img{
    width: 80px;
}
div.protect-box-right div.box-img img{
    border: 2px solid #2a81ea;
    background-color: #fff;
}

section.faq-sec{
    padding: 100px 0;
}
div.li-acc div.list-group a{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border: 2px solid #e7e8ff !important;
}
section.blog-sec{
    padding: 100px 0;
}
div.blog-boxs div.card{
    width: 350px;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 16%);
}
div.blog-boxs div.card div.card-body h5{
    margin: 20px 0;
    cursor: pointer;
    color: #465675;
    font-weight: bold;
}
div.blog-boxs div.card div.card-body h5:hover{
    color: #2a81ea;
}
footer{
    padding: 100px 0;
    background-color: #151c2e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assests/img/shape-a.png);
}
footer div div.footer-text div h2{
    font-size: 28px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;
}
footer div div.footer-text div h2 span{
    color: #4B6691;
}
footer div div.footer-text div h2 i{
    color: #FF5363;
}
footer div div.footer-text div p{
    color: #b2bfe0;
    line-height: 1.5em;
    margin-bottom: 20px;
}
footer div div.footer-text div div.footer-icons div{
    background-color: #50658e;
    border-radius: 50%;
    margin-right: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div div.footer-text div div.footer-icons div:hover{
    background-color: #2a81ea;;
}

footer div div.footer-text div{
    margin: 0 auto 50px;
}
footer div div.footer-text div ul li{
    list-style: none;
    margin-bottom: 20px;
}
footer div div.footer-text div ul li a{
    color: #b2bfe0;
    text-decoration: none;
}
footer div div.footer-text div ul li a:hover{
    color: #2a81ea;
}
footer div div.footer-text div h5{
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}
footer div div.footer-text{
    
    border-bottom: 1px solid rgba(247, 248, 255, 0.1);
}
.footer-copyright{
    color: #b2bfe0;
    
    font-size: 14px;
    padding-top: 50px;
}
.footer-copyright div span{
    color: white;
    font-weight: bold;
}
.footer-copyright div a{
    text-decoration: none;
    color: #b2bfe0;
}
.footer-copyright div p{
    margin: 0px !important;
}
div.offcanvas-backdrop{
    background-color: rgba(27, 71, 161, 0.8);
}